{% extends "main.html" %}

{% block contenu %}

<div class="section">
    <h2>Clients</h2>
    <div class="card">
      <a href="" class="btn">Creer un client</a>
      <table>
        <tr>
          <th>N°</th>
          <th>Clients</th>
          <th>Téléphone</th>
          <th>Détails</th>
        </tr>
        {% for client in clients %}
        <tr>
          <th><a href="{% url 'client' client.id %}">{{client.id}}</a></th>
          <th>{{client.nom}}</th>
          <th>{{client.telephone}}</th>
          <th><a href="{% url 'client' client.id %}">Détails</a></th>
        </tr>
        {% endfor %}


      </table>
    </div>
    <div class="card">
      <a href="{% url 'ajout_commande' %}" class="btn">Ajouter commande</a>
      <table>
        <tr>
          <th>Produit</th>
          <th>Client</th>
          <th>Date de la commande</th>
          <th>Statut</th>
          <th>Mise à jour</th>
          <th>Supprimer</th>
        </tr>
        {% for commande in commandes %}
        <tr>
          <th>{{commande.produit}}</th>
          <th>{{commande.client}}</th>
          <th>{{commande.date_creation}}</th>
          <th>{{commande.statuts}}</th>
          <th><a href="{% url 'modifier_commande' commande.id %}">Modifier</a></th>
          <th><a href="{% url 'supprimer_commande' commande.id %}">Supprimer</a></th>
        </tr>
        {% endfor %}
      </table>
    </div>
</div>

{% endblock %}
