{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
        <title>Relation client</title>
    </head>
    <body>
        <div class="container">
            <!-- MENU DE NAVIGATION -->
            {% include "navbar.html" %}
            
            <!-- CONTENU DE LA PAGE -->
            {% block contenu %}
            
            {% endblock %}
            
        </div>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>