<div class="header">
        
  <div class="user">
      <img src="images/pic.jpg" alt="">
  </div>

  <nav class="navbar">
      <ul>
          <li><a href="accueil.html">Accueil</a></li>
          <li><a href="apropos.html">Apropos</a></li>
          <li><a href="services.html">Services</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="../index.html">Se deconnecter</a></li>
      </ul>
  </nav>

</div>